/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;
  background: rgb(47,134,235);
background: linear-gradient(180deg, rgba(47,134,235,1) 39%, rgba(47,81,235,1) 39%, rgba(255,255,255,1) 39%);
}

#logo {
  height: 50px;
}

.ecran{
display: flex;
width: 70vw;
height: 80vh;
margin: auto;
flex-direction: column;
}

.tout{
  display: flex;
}

.phones {
}

.text {
  text-align:left;
  padding: 30px 100px 30px 100px;
}

.bloc-blanc{
  background-color: white;
  border-radius: 12px;
  padding: 20px;
}

h1{
  color: #2f86eb;
}

.store{
  text-align: left;
}

.footer{
  justify-content: center;
  display: flex;
  width: 70vw;
  font-weight: bold;
  color: #2f86eb;
}
