/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  width: 100vw;
  height: 100vh;
  display: flex;

}

.ecran{
display: flex;
width: 70vw;
height: 80vh;
margin: auto;
background-color: aquamarine;
flex-direction: column;
}

.tout{
  display: flex;
}

.phones {
}

.text {
  text-align:left;
  padding: 30px 100px 30px 100px;
}

.bloc-blanc{
  background-color: white;
}

.store{
  text-align: left;
}

.footer{
  justify-content: center;
  display: flex;
  width: 70vw;
  font-weight: bold;
}
